{% extends 'layout.html' %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <h5 class="text-muted fw-light">Top News</h5>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
    {%for article in response['articles']%}
      
    <div class="carousel-item active">
        <img src="{{article['urlToImage']}}" class="img-fluid" alt="slide1">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{article['title']}}</h5>
          <p>{{article['description']}}</p>
        </div>
      </div>
      
    {%endfor%}
    <button class="carousel-control-prev" type="button" data-bs-target="carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    
   
</div></br>


  
<!--third carousel-->
<div class="container-fluid" >
  <h2>Top Headlines</h2>
  {%for article in all_articles['articles']%}
    <div class="card" style="width: 100%;">
      <img src="{{article['urlToImage']}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title"><a href="{{article['url']}}" class="link-dark text-decoration-underline">{{article['title']}}</a></h4>
        <h5 class="card-text">Description: {{article['description']}}</h5>
        <p class="card-text"><small class="text-muted">{{article['content']|striptags|truncate(100)}}</small><a href="{{article['url']}}" class="text-muted">Read More</a></p>
        
        <small>Author: {{article['author']}}</br> Date: {{article['publishedAt']}}</small>
      </div>
    </div>
  {%endfor%}
  
  
</div>
  
{% endblock content %}

    
    

    
 